http:
  port: 9774
  timeout: 30
vcshosting:
  provider: gitlab
  options:
    token: <vcs_token>
    url: https://vcs_url
messenger:
  provider: telegram
  options:
    token: <messenger_token>
storage:
  provider: gorm
  options:
    driver: "sqlserver"
    dsn: "sqlserver://user:password@127.0.0.1:1433?database=Whisper"
handlers:
- route: "/gitlab/merge-request"
  action: merge_request
- route: "/gitlab/deployment"
  action: deployment
  defaultChatIds:
  - 1
